.logo {
    width: 150px;
}

.logo-title {
    margin-bottom: 20px;

    h1 {
        margin: 5px 0px;
    }
}

ion-item {
    margin-bottom: 10px;
}

.separator {
    height: 30px;
}

ion-button {
    margin-bottom: 10px;
}

.ya-tengo-cuenta {
    color: gray;
    text-align: center;
}
