ion-toolbar {
    --background: var(--ion-color-primary);
}

ion-menu {
    ion-header {
        background: url("../../../assets/img/bg-mi-perfil.jpg");
        background-size: cover;

        .box {
            background-color: rgba(50, 50, 50, 0.75);

            p {
                color: white;
                margin: 10px 0px 10px 0px;
            }
        }
    }
}

