<ion-header>
  <ion-toolbar></ion-toolbar>
</ion-header>

<ion-content>

  <ion-searchbar placeholder="Buscar"></ion-searchbar>

  <!-- categoria item -->
  <div class="categoria-item categoria-item-hortalizas" routerLink="/resultados-busqueda">
    <div class="categoria-item-title center-both">
      <h3>Hortalizas</h3>
    </div><!-- categoria item title -->
  </div><!-- categoria item -->

  <!-- categoria item -->
  <div class="categoria-item categoria-item-semillas" routerLink="/resultados-busqueda">
    <div class="categoria-item-title center-both">
      <h3>Semillas</h3>
    </div><!-- categoria item title -->
  </div><!-- categoria item -->

  <!-- categoria item -->
  <div class="categoria-item categoria-item-lacteos" routerLink="/resultados-busqueda">
    <div class="categoria-item-title center-both">
      <h3>Lacteos</h3>
    </div><!-- categoria item title -->
  </div><!-- categoria item -->

  <!-- categoria item -->
  <div class="categoria-item categoria-item-carnes" routerLink="/resultados-busqueda">
    <div class="categoria-item-title center-both">
      <h3>Carnes</h3>
    </div><!-- categoria item title -->
  </div><!-- categoria item -->

</ion-content>
