ion-toolbar {
    --background: var(--ion-color-primary);
}

ion-item-divider {
    margin-bottom: 10px;
}

ion-item {
    margin-bottom: 10px;

    sub {
        color: gray;
    }
}

.item-label {
    padding-left: 20px;
}

.item-value {
    padding-right: 20px;
    text-align: end;
}

.rating-item {
    display: flex;
    justify-content: flex-end;

    ion-icon {
        margin: 0px;
    }

    p {
        margin: 0px;
    }
}
